:root{
    --main-block-bg-color: #5d92db;
    --main-text-color: #000000;
    --border-color:#b9bfd1;
}

body{
	padding: 80px;
}
html {
 background-color: #212121;
 background-attachment: fixed;
 background-size: cover;
 font-family: ethna;
 color: var(--main-text-color);
 }


h1{
    border-radius: 25px;
    background-color: var(--main-block-bg-color);
    border-style: double;
    border-color: var( --border-color);
    border-width: thick;
	margin: 20px auto 0;
	width: 200px;
	text-align: center;
    z-index: 2;
}
#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}

/* === Sign in Form === */
#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#signin::before {
	display: block;
	position: relative;
	height: 2px;
	background: var( --border-color);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
#signin input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="email"], #signin  input[type="password"], #signin button[type="submit"]{
	background: var( --border-color);
	box-shadow: inset -100px -100px 0 var(--main-block-bg-color); 
	color: black;
}
#signin  input[type="email"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: var(--border-color);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid var(--border-color);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: var(--border-color);
	text-shadow: 0 0 10px rgb(255, 255, 255);
	cursor: pointer;
}
#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}

#square1 {
	width: 100px;
	height: 100px;
	background: linear-gradient(to bottom right, black, white);
    opacity: 20%;
    position:absolute;
    z-index: 1;
    animation: square11 10s infinite;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

#square2 {
	width: 50px;
	height: 40px;
	background: linear-gradient(to bottom right, black, white);
    opacity: 20%;
    position:absolute;
    z-index: 3;
    animation: square12 10s infinite;
    backdrop-filter: blur(20px);
    border-radius: 5px;
}

#square3 {
	width: 70px;
	height: 80px;
	background: linear-gradient(to bottom right, black, white);
    opacity: 20%;
    position:absolute;
    z-index: 3;
    animation: square13 10s infinite;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    bottom: 120px;
}

@keyframes square11{
    from{
        transform: translate(calc(100%/3), 300%);
    }
    50%{
        transform: translate(100%, 50%);
    }
    to{
        transform: translate(calc(100%/3), 300%);
    }
}
@keyframes square12{
    from{
        transform: translate(600%, 600%);
    }
    50%{
        transform: translate(1000%, 10%);
    }
    to{
        transform: translate(600%, 600%);
    }
}
@keyframes square13{
    from{
        transform: translate(500%, 400%);
    }
    50%{
        transform: translate(-100%, 10%);
    }
    to{
        transform: translate(500%, 400%);
    }
}
